/*
    This file is to hold the Confirmation HMTL
            styles for the CbCSC HTML website.
    Date: Saturday 23rd of January, 2021
    Updated: Tuesday the 26th of January, 2021
    Project Name: Coneybeare Cleantech Sustainability Catalog
    File name: confirmation.css
    Author/'s: CTRL ALT DEL
                Amanda H.
 */

#formContainer {
    border-radius: 13px;
    border: 1px solid #609E1C;
}

.text-danger {
    color: firebrick !important;
}



