#main_container{
    background-color: #609E1C;
    border-radius: 13px;
    margin-top: 1.25rem;
}
#contact_heading{
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #333333;
    line-height: 1.2;
    text-align: center;
}
#form_wrapper{
    padding: 2rem 1rem;
}
.form-control{
    padding: 4px 0 4px 0;
}
.input_area{
    border-radius: 13px;
    background-color: #f7f7f7;
    padding: 10px 30px 9px 22px;
}
.form_input2{
    display: block;
    background: transparent;
    outline: none;
    border: none;
}
.error_msg{
    color: #000000;
    display: none;
    padding-left: 5px;
}
.btn{
    width: 100px;
}
