#contact_heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 15px;
}
#form_wrapper{
    padding: 62px 55px 90px 55px;
}
hr.solid{
    border-top: 2px solid #bbbbbb;
    margin-bottom: 45px;
    width: 114%;
    margin-left: -7%;
}
.form-control{
    padding: 4px 0px 4px 0px;
}
.input_area{
    border-radius: 17px;
    background-color: #f7f7f7;
    padding: 10px 30px 9px 22px;
}
.form_input2{
    display: block;
    background: transparent;
    outline: none;
    border: none;
}
.error_msg{
    color: darkred;
    display: none;
    padding-left: 5px;
}
.btn{
    width: 100px;
}



/*
    Down below is classes from backup design, no touchy touchy.
 */
#main_container{
    background-color: #5b9f51;
}

.label_input{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 12px;
    color: #333333;
    line-height: 1.5;
    text-transform: uppercase;
}
.form_input{
    height: 40px;
    display: block;
    width: 100%;
    background: transparent;
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    padding-right: 15px;
    outline: none;
    border: none;
}
.form_rows{
    width: 100%;
    position: relative;
    background-color: #f7f7f7;
    border-radius: 13px;
    border: 1px solid #8c8c8c;
    padding: 10px 30px 9px 22px;
    margin-bottom: 20px;
}