/* ----- Header styling ----- */
/* form styling */
.search_bar {
    width: 212px;
}

.nav_bg_color {
    background-color: #4B6F44;
}

.sub_bg_color {
    background-color: #87A96B;
}

.Coneybeare_icon {
    width: 50px;
}

.category-nav {
    height: 43px;
}

.nav-icon {
    width: 1.5rem;
    height: 1.5rem;
}

/* ----- Body styling ----- */
hr.solid {
    border-top: 0.063em solid #bbbbbb;
}

.home_body h1 {
    text-align: center;
}

#dirt_plant {
    margin-top: 10px;
    width: 1000px;
    position: relative;
}

.dirt_img_text {
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-container {
    position: relative;
}

/* ----- Footer styling ----- */
/* top nav styles */

.footer-top {
    padding: 1.25em 0 2.5em 0;
    background-color: #333;
    text-align: left;
    color: #aaa;
}

.footer_icon {
    margin-top: 20px;
    width: 66px;
    height: 66px;
}

.footer_column {
    color: #FFF;
}

footer {
    width: 100%;
    min-height: 15.625em;
    padding: 0.625em 0 1.563em 0;

}

.heading_position {
    padding-top: 1.25em;
    margin-bottom: 0.625em;

}

.footer_coney {
    padding-top: 30px;
}

.tagline {
    padding-left: 60px;
}

/* bottom nav styles */
.footer-bottom {
    padding: 0.938em 0 1.063em 0;
    background-color: #444;
    text-align: left;
    color: #aaa;
}

.social_icons {
    display: table;
    margin: 0.063em auto 0 auto;
    list-style-type: none;
    padding-left: 0;
}

.social_icons li {
    padding-left: 1.25em;
    padding-top: 0.625em;
    float: left;
}

.social_icons li:first-child {
    padding-left: 0;
}

.social_icons li a {
    color: #CCC;
    padding: 0.5em;
}

.social_icons li i {
    width: 1.25em;
    height: 1.25em;
    text-align: center;
}

.social_icons li a:hover, .social_icons li a:focus {
    color: green;
    border: 0;
}

.copy_right {
    margin-bottom: 0;
    margin-top: 1.25em;
}