/*  Content Box styling */
.popup-header{grid-area: header;}
.popup-body{grid-area: left;}
.popup-sidebar{grid-area: side;}

.popup_container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'header header'
    'left side';
}

.search_image{grid-area: image;}
.info_section{grid-area: right;}

.popup-body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    grid-template-areas:
    'image right';
}
.popup-sidebar div{
    background: rgba(232, 232, 232, 1);
    padding: 10px 20px;
    border-radius: 7px;
    margin: 0 0 10px 0;
}
.popup-sidebar div h4{
    margin: 5px 0 5px 0;
}
.popup-sidebar div p{
    margin: 5px 0 5px 0;
}

.search_image{
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 5px;
}

.nav-icon{
    margin-right: 3px;
    width: 2rem;
    height: 2rem;
}
/*  Content Box styling END */

.popup_container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: aliceblue;
    width: 1300px;
    max-width: 80%;
}

.popup_container.active {
    transform: translate(-50%, -50%) scale(1);
}

.popup-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.popup-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.popup-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.popup-body, .popup-sidebar {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}